body {
    font-family: Arial, sans-serif;
}
/* static/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("img/block5.jpg");
    background-size: cover;
    background-position: center top; /* Shift the image upwards */
    background-repeat: no-repeat;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.authentic-message {
    text-align: center;
    margin-bottom: 20px;
    color: green;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}
.navbar {
position: fixed;
top: 0;
left: 0;
width: 100%;
background-color: #2454a0;
padding: 10px 20px;
display: flex;
justify-content: space-between;
align-items: center;
}

.nav-btn {
color: #fff;
text-decoration: none;
padding: 5px 10px;
border-radius: 3px;
}

#logout {
background-color: #dc3545; /* Red color */
}

#logout:hover {
background-color: #c82333; /* Darker red color on hover */
}

